.mainContainer {
  padding: 20px;
  font-family: Poppins;
  color: black;
  width: 100%;
}

.wrapperContainer {
  display: flex;
  justify-content: center;
}

.detailsContainer {
  width: 70%;
  line-height: 1.8;
}

.skillPills {
  margin-top: 10px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.imagePill {
  width: 20px;
  height: 20px;
}

.skillImage {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.skillPill {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 0.8rem;
}

.projectIntro {
  margin-top: 15px;
}

.projectKeySection {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sectionDetails {
  margin-left: 50px;
  margin-top: 10px;
}

.sectionList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.purposeContainer {
  margin-top: 15px;
}

.purposeHeader {
  font-size: 2.4rem;
}

.footerContainer {
  margin-top: 100px;
}

.underDevelopment {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
}

.tag {
  background-color: orangered;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .detailsContainer {
    width: 100%;
    margin-top: 15px;
  }

  .purposeHeader {
    font-size: 1.8rem;
  }
}
