.mainContainer {
  font-family: Poppins;
  margin-top: 50px;
  color: black;
}

.sectionHeader {
  color: black;
  font-size: 1.5rem;
}

.skillPills {
  margin-top: 15px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.imagePill {
  width: 20px;
  height: 20px;
}

.skillImage {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.skillPill {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 8px;
}
