.mainContainer {
  font-family: Poppins;
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
}

.detailsContainer {
  width: 70%;
  line-height: 1.8;
}

.skillPills {
  margin-top: 10px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.imagePill {
  width: 20px;
  height: 20px;
}

.skillImage {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.skillPill {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 0.8rem;
}

.projectIntro {
  margin-top: 15px;
}
