.mainContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.video {
  width: 70%;
  border-radius: 20px;
  border: 1px solid gray;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.videoPlayer {
  width: 100%;
  border-radius: 20px;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .video {
    width: 100%;
    border-radius: 10px;
  }
}
